
@{
}
<div class="row mt-5">
	<div class="col">
		<div class="card mt-5">
			<div class="card-bady">
				<table class="table text-center">
					<thead>
						<tr class=" text-center">
							<td>رقم الفندق</td>
							<td>اسم الفندق</td>
							<td>وصف الفندق</td>
							<td>المدينة</td>
							<td>موقع الفندق</td>
							<td>صورة الفندق</td>
							<td>سعر الفندق</td>
							<td>تفاصيل اخرى</td>
							<td class="text-center" colspan="2">إجراء</td>
						</tr>
					</thead>

					<tbady>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.Id</td>
								<td>@item.Name</td>
								<td>@item.Description</td>
								<td>@item.City</td>
								<td>@item.Location</td>
								<td> <img src="/images/@item.Images" width="60" height="60" class="rounded rounded-circle" /></td>
								<td>@item.Price</td>
								<td>@item.Facilities</td>
								<td>
									<a onclick="showmessage(@item.Id)"> <i class="fa fa-trash text-danger" aria-hidden="true"></i></a>

								</td>
								<td>

									<a asp-action="EditHotels" asp-route-id="@item.Id">  <i class="fa fa-pencil text-success" aria-hidden="true"></i></a>


								</td>
							</tr>
						}
					</tbady>

				</table>
			</div>
		</div>
	</div>
</div>